body {
  margin: 0;
}
.desktop {
  background: #0072ff;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  perspective: 110px;
}
.logo--square {
  width: 100%;
  height: 100%;
  background: #fff;
}
.logo {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 80px 80px;
  grid-gap: 5px;
  transform: rotateY(-10deg) scaleX(1.1);
  transition: 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}
.logo:hover {
  transform: rotateY(0) scaleX(1);
}