body {
  padding: 40px 0;
  background-color: rgb(34, 30, 30);
}
button{
  position: absolute;
  top: 5px;
  padding: 5px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: bold;
  border-color: #111;
}
button:hover{
  border-color: #fff;
}
.bx{
  padding-left: 5px;
}
.instagram{
  background-color: rgb(208, 111, 130);
  color: #ccc;
}
.youtube{
  left: 110px;
  background-color: red;
}
.github{
  left: 212px;
  background-color: #020229;
  color: #ccc;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.header{
  margin: 0 20px;
  color: #ccc;
  border-color: black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
iframe {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  height: 400px;
  width: 100%;
  border-color: black;
  border-radius: 20px;
}

.grid > article img {
  max-width: 100%;
}

.grid .text {
  padding: 20px;
}
.link{
  font-family: monospace;
  text-decoration: none;
  font-size: large;
  color: #ccc;
}

.link:hover{
  text-decoration: underline;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: 2rem;
}

.item{
  cursor: pointer;
  color: #cecece;
  font-family: monospace;
  font-size: large;
  padding: .25rem .75rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
}

.active-work{
  background-color: #fff;
  color: #111;
}

::-webkit-scrollbar {
  display: none;
}