body{
    background: #2b2f54;
}
.instagram{
    position: relative;
    width: 269px;
    height: 269px;
    overflow: hidden;
    border-radius: 62px;
    background: linear-gradient(145deg, #3051f1 10%,#c92bb7 70%) no-repeat;
    box-shadow: 0px 2px 9px #00000040;
    transition: 1s;
}
.instagram:hover{
    transform: translateY(-20px);
    transition: 0.6s;
}
.instagram:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: "";
    background: radial-gradient(circle farthest-corner at 28% 100%, #fcdf8f 0%, #fbd377 10%, #fa8e37 22%, #f73344 35%, #f7334400 65%) no-repeat;
}
.instagram,.instagram *{
    box-sizing: border-box;
}
.instagram *{
    position: absolute;
    display: block;
}
.instagram > div {
    top: 36px;
    left: 36px;
    width: 197px;
    height: 197px;
    border-radius: 57px;
    border: 17px #fff solid;
}
.instagram > div >:nth-child(1){
    top: 31.5px;
    left: 31.5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 17px #fff solid;
}
.instagram > div >:nth-child(2){
    display: block;
    width: 23px;
    height: 23px;
    background-color: #fff;
    border-radius: 50%;
    right: 17px;
    top: 17px;
}
.logo-gorunumu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}